<div md-whiteframe="1" layout="column" layout-padding>
  <h2>{{player.name}}</h2>
  <label>Fiches ({{player.fiches}})</label>
  <md-progress-linear md-mode="determinate" value="{{player.fiches}}"></md-progress-linear>
  <div>
    <card value="card.value" type="card.type" ng-repeat="card in player.cards"></card>
  </div>
  <md-content layout="row">
    <md-slider-container flex>
      <md-input-container>
        <input flex type="number" ng-model="amount" aria-label="raise" aria-controls="amount-slider">
      </md-input-container>
      <md-slider ng-model="amount" min="0" max="{{player.fiches}}" aria-label="raise" id="volume-slider" class="md-accent" md-vertical md-range></md-slider>
      </md-slider>
    </md-slider-container>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="raise()">Raise</md-button>
      <md-button class="md-raised md-warn" ng-click="fold()">Fold</md-button>
      <md-button class="md-raised">Check</md-button>
    </section>
  </md-content>
</div>
